# Converting string to numeric

In [ ]:
import pandas as pd

In [19]:
df = pd.DataFrame({'t':['1','2','3', 'x']})
df

   t
0  1
1  2
2  3
3  x

In [20]:
df.dtypes

t    object
dtype: object

In [10]:
df['t'].str.isnumeric().all()

False

In [22]:
aantal_non_numeric = (~df['t'].str.isnumeric()).sum()
print("Er zijn %d niet numerieke waarden." % aantal_non_numeric)

Er zijn 1 niet numerieke waarden.

In [23]:
pd.to_numeric(df['t'], errors='coerce')

0    1.0
1    2.0
2    3.0
3    NaN
Name: t, dtype: float64