# Data import

In [58]:
import pandas as pd

In [64]:
url = 'https://www.indexmundi.com/map/?v=25&r=xx&l=nl'
table_id = 'gvDataCountry'

list_of_dfs  = pd.read_html(url, attrs={"id":table_id})

df_raw = list_of_dfs[0]
headers = df_raw.iloc[0]
df  = pd.DataFrame(df_raw.values[1:], columns=headers)
df

,Land,Geboortecijfer (Bevölkerung der Geburten/1.000 Einwohner),Jaar
0,Angola,44,2017
1,Niger,44,2017
2,Mali,44,2017
3,Uganda,43,2017
4,Zambia,42,2017
5,Burundi,41,2017
6,Burkina Faso,41,2017
7,Malawi,41,2017
8,Somalië,40,2017
9,Liberia,38,2017
10,Mozambique,38,2017
11,Afghanistan,38,2017
12,Nigeria,37,2017
13,Ethiopië,37,2017
14,Sierra Leone,36,2017
15,Tanzania,36,2017
16,Tsjaad,36,2017
17,Kameroen,35,2017
18,Guinea,35,2017
19,Benin,35,2017
20,Congo (Volksrepubliek),34,2017
21,Centraal-Afrikaanse Republiek,34,2017
22,Gabon,34,2017
23,Zimbabwe,34,2017
24,Congo (Democratische Republiek),34,2017
25,Timor Leste,33,2017
26,Senegal,33,2017
27,Togo,33,2017
28,Guinee-Bissau,33,2017
29,São Tomé en Principe,32,2017
...,...,...,...
167,Montenegro,10,2017
168,Litouwen,10,2017
169,Letland,10,2017
170,Slowakije,10,2017
171,Qatar,10,2017
172,Polen,10,2017
173,Oostenrijk,10,2017
174,Tsjechië,9,2017
175,Spanje,9,2017
176,Portugal,9,2017
177,Servië,9,2017
178,Hongarije,9,2017
179,Kroatië,9,2017
180,Hongkong,9,2017
181,Roemenië,9,2017
182,Bosnië-Herzegovina,9,2017
183,Bulgarije,9,2017
184,Duitsland,9,2017
185,Italië,9,2017
186,Macao,9,2017
187,San Marino,9,2017
188,Singapore,9,2017
189,Griekenland,8,2017
190,Zuid-Korea,8,2017
191,Taiwan,8,2017
192,Slovenië,8,2017
193,Puerto Rico,8,2017
194,Japan,8,2017
195,Andorra,8,2017
196,Monaco,7,2017