# Demo Dag 1 - Recap Python

## Data Structures

#### list

In [5]:
l = [3,5,2,6,3]
l

[3, 5, 2, 6, 3]

#### tuple

In [6]:
t = (83,4,6,75,7,8,39,26)
t

(83, 4, 6, 75, 7, 8, 39, 26)

#### set

In [7]:
s = set(t)
s

{4, 6, 7, 8, 26, 39, 75, 83}

#### dict

In [8]:
d = dict(zip(t, range(len(t))))
d

{83: 0, 4: 1, 6: 2, 75: 3, 7: 4, 8: 5, 39: 6, 26: 7}

In [49]:
print('keys: %s' % list(d))
print('keys: %s' % list(d.keys()))
print('values: %s' % list(d.values()))
print('values: %s' % list(d.items()))

keys: [83, 4, 6, 75, 7, 8, 39, 26]
keys: [83, 4, 6, 75, 7, 8, 39, 26]
values: [0, 1, 2, 3, 4, 5, 6, 7]
values: [(83, 0), (4, 1), (6, 2), (75, 3), (7, 4), (8, 5), (39, 6), (26, 7)]

In [54]:
for index in d:
    print('key: %s met value: %s' % (index, d[index]))

for key, value in d.items():
    print('key: %s met value: %s' % (key, value))

key: 83 met value: 0
key: 4 met value: 1
key: 6 met value: 2
key: 75 met value: 3
key: 7 met value: 4
key: 8 met value: 5
key: 39 met value: 6
key: 26 met value: 7
key: 83 met value: 0
key: 4 met value: 1
key: 6 met value: 2
key: 75 met value: 3
key: 7 met value: 4
key: 8 met value: 5
key: 39 met value: 6
key: 26 met value: 7

## String formatting

In [56]:
naam = 'Einstein'
iq = 210

s = naam + ' heeft een IQ van ' + str(iq)
print(s)

s = '%s heeft een IQ van %d' % (naam, iq)
print(s)

s = '{} heeft een IQ van {}'.format(naam, iq)
print(s)

s = f'{naam} heeft een IQ van {iq}'
print(s)

Einstein heeft een IQ van 210
Einstein heeft een IQ van 210
Einstein heeft een IQ van 210
Einstein heeft een IQ van 210

In [63]:
pi = 3.14159
for i in range(10):
    print('pi = %8.3f' % (i * pi))

pi =    0.000
pi =    3.142
pi =    6.283
pi =    9.425
pi =   12.566
pi =   15.708
pi =   18.850
pi =   21.991
pi =   25.133
pi =   28.274

## Functies

#### Variadic function

In [2]:
def hoogste(*getallen):
    hoogste = getallen[0]
    for getal in getallen[1:]:
        if getal > hoogste:
            hoogste = getal
    return hoogste

In [10]:
getal1 = 10
getal2 = 20
getal3 = 30
getal4 = 40

print(hoogste(getal1, getal2, getal3))
print(hoogste(getal1, getal2, getal3, getal4))

30
40

In [11]:
t = {23,546,87,23,87,324}
print(hoogste(*t))

546

In [18]:
import sys
print(sys.path)
print(*sys.path, sep='\n')

['', '/Users/peter/miniconda3/lib/python36.zip', '/Users/peter/miniconda3/lib/python3.6', '/Users/peter/miniconda3/lib/python3.6/lib-dynload', '/Users/peter/miniconda3/lib/python3.6/site-packages', '/Users/peter/miniconda3/lib/python3.6/site-packages/IPython/extensions', '/Users/peter/.ipython']

/Users/peter/miniconda3/lib/python36.zip
/Users/peter/miniconda3/lib/python3.6
/Users/peter/miniconda3/lib/python3.6/lib-dynload
/Users/peter/miniconda3/lib/python3.6/site-packages
/Users/peter/miniconda3/lib/python3.6/site-packages/IPython/extensions
/Users/peter/.ipython

#### Auguments with default values

In [12]:
def vlucht(vanaf, naar, aantal_volwassenen=1, aantal_kinderen=0):
    print('Vlucht van {} naar {} met {} volwassenen en {} kinderen'.format(vanaf,
                                                                       naar,
                                                                       aantal_volwassenen,
                                                                       aantal_kinderen))

#### Keyword arguments

In [13]:
vlucht('AMS', 'LHR', 2, 2)
vlucht('AMS', 'LHR')
vlucht('AMS', 'LHR', aantal_kinderen=4)
vlucht('AMS', 'LHR', aantal_kinderen='zeven')
vlucht(vanaf='CHP', naar='OSL', aantal_volwassenen=4)

Vlucht van AMS naar LHR met 2 volwassenen en 2 kinderen
Vlucht van AMS naar LHR met 1 volwassenen en 0 kinderen
Vlucht van AMS naar LHR met 1 volwassenen en 4 kinderen
Vlucht van AMS naar LHR met 1 volwassenen en zeven kinderen
Vlucht van CHP naar OSL met 4 volwassenen en 0 kinderen

#### unpacking a dict as to keyword arguments

In [14]:
vlucht_gegevens = {
    'vanaf': 'AMS',
    'naar': 'CHI',
    'aantal_volwassenen': 2,
    'aantal_kinderen': 3
}

In [15]:
vlucht(**vlucht_gegevens)

Vlucht van AMS naar CHI met 2 volwassenen en 3 kinderen

In [16]:
zin = 'dit is tekst met verschillende woorden'
woorden = zin.split()

#woorden.sort()

woorden = sorted(woorden, reverse=False, key=len)

print(woorden)

['is', 'dit', 'met', 'tekst', 'woorden', 'verschillende']

In [17]:
type(len)

builtin_function_or_method

In [18]:
f = len

In [19]:
f('abcd')

4

In [20]:
woorden

['is', 'dit', 'met', 'tekst', 'woorden', 'verschillende']

In [21]:
[len(w) for w in woorden] # list comprehension

[2, 3, 3, 5, 7, 13]

In [121]:
list(map(len, woorden))

[2, 3, 3, 5, 7, 13]

# Generators

In [23]:
map(len, woorden)

In [24]:
range(10000000)

range(0, 10000000)

# Counting words in a text

In [61]:
tekst = '''This page is a curated collection of Jupyter/IPython notebooks that are notable. Feel free to add new content here, but please try to only include links to notebooks that include interesting visual or technical content; this should not simply be a dump of a Google search on every ipynb file out there.
Important contribution instructions: If you add new content, please ensure that for any notebook you link to, the link is to the rendered version using nbviewer, rather than the raw file. Simply paste the notebook URL in the nbviewer box and copy the resulting URL of the rendered version. This will make it much easier for visitors to be able to immediately access the new content.
Note that Matt Davis has conveniently written a set of bookmarklets and extensions to make it a one-click affair to load a Notebook URL into your browser of choice, directly opening into nbviewer.'''

In [62]:
import re
tekst = re.sub(r'[^a-z\s]', '', tekst.lower())

woorden = tekst.split()

unieke_woorden = set(woorden)

d = {w:woorden.count(w) for w in unieke_woorden}

In [64]:
for woord, n in sorted(d.items(), key = lambda kv: kv[1], reverse = True):
    print('%-20s : %3d' % (woord, n))

to                   :   9
the                  :   8
a                    :   6
of                   :   5
content              :   4
that                 :   4
url                  :   3
notebook             :   3
new                  :   3
this                 :   3
nbviewer             :   3
make                 :   2
simply               :   2
for                  :   2
link                 :   2
rendered             :   2
and                  :   2
you                  :   2
is                   :   2
it                   :   2
into                 :   2
add                  :   2
version              :   2
include              :   2
please               :   2
notebooks            :   2
be                   :   2
file                 :   2
easier               :   1
every                :   1
page                 :   1
are                  :   1
ensure               :   1
set                  :   1
dump                 :   1
try                  :   1
should               :   1
will                 :   1
davis                :   1
than                 :   1
copy                 :   1
search               :   1
much                 :   1
written              :   1
technical            :   1
curated              :   1
free                 :   1
using                :   1
rather               :   1
immediately          :   1
visitors             :   1
extensions           :   1
conveniently         :   1
affair               :   1
oneclick             :   1
links                :   1
bookmarklets         :   1
paste                :   1
if                   :   1
box                  :   1
google               :   1
matt                 :   1
on                   :   1
raw                  :   1
your                 :   1
not                  :   1
able                 :   1
or                   :   1
opening              :   1
load                 :   1
there                :   1
ipynb                :   1
contribution         :   1
in                   :   1
collection           :   1
visual               :   1
directly             :   1
jupyteripython       :   1
any                  :   1
resulting            :   1
only                 :   1
notable              :   1
but                  :   1
interesting          :   1
important            :   1
instructions         :   1
access               :   1
has                  :   1
browser              :   1
feel                 :   1
here                 :   1
choice               :   1
note                 :   1
out                  :   1

#### Lambda

In [ ]:
def telop(a, b):
    return a + b

telop = lambda a, b: a + b

# Pandas

In [149]:
import pandas as pd

In [152]:
df = pd.read_csv('C:/temp/data.csv')
df

   col1  col2   col3  col4
0    12    34   56.0   ’A’
1    12    54  453.9   ’B’
2    56    23    2.3   ‘C’
3    65    45    9.0   ‘C’

In [158]:
df[['col4','col1']]

   col4  col1
0   ’A’    12
1   ’B’    12
2   ‘C’    56
3   ‘C’    65

In [175]:
df[df['col2']<50]

   col1  col2  col3  col4
0    12    34  56.0   ’A’
2    56    23   2.3   ‘C’
3    65    45   9.0   ‘C’

In [176]:
df['col5'] = df['col1'] + df['col2']

In [177]:
df

   col1  col2   col3  col4  col5
0    12    34   56.0   ’A’    46
1    12    54  453.9   ’B’    66
2    56    23    2.3   ‘C’    79
3    65    45    9.0   ‘C’   110